.scoreboard {
    padding: 1em 0em;
    grid-area: scoreboard;
    display: flex;
    justify-content: space-between;

    &__tile {
        padding: .5em 3.5em;
        border-radius: var(--radius);
        text-align: center;
        filter: drop-shadow(0px 4px 0px var(--shadow));

        p {
            font-size: 12px;
        }
    }

    &__x-wins {
        background-color: var(--teal);
    }

    &__o-wins {
        background-color: var(--mustard);
    }

    &__ties {
        background-color: var(--ash-blue);
    }
}