:root {
  --teal: #2EC3BD;
  --mustard: #F2B139;
  --dark-green: #192A32;
  --ash-blue: #ABBFCA;

  --ui1: #1F3540;
  --shadow: #0E2128;

  --radius: 10px;

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka One', cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
}